body {
    font-family: 'Montserrat';
    background-color: rgb(193, 226, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-left: 88px;
    width: 825px;
}

aside {
    width: 368px;
    backdrop-filter: blur(10px);
    /* Задаем значение размытия */
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.979);
    /* Тень для добавления глубины */
    border-radius: 18px;
    overflow: hidden;
}

h1 {
    font-family: "Montserrat";
    font-size: 46px;
    font-weight: 600;
    margin: 0px;
    line-height: 55px;
}

h2 {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    margin: 0px;
}

h3 {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    line-height: 20px;
    width: 250px;
}

h4 {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
}

p {
    margin-top: 12px;
    line-height: 24px;
    width: 702px;
}

li {
    margin-left: -40px;
    list-style-position: inside;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    /* Прозрачный белый цвет */
    width: 1200px;
    padding: 40px;
    border-radius: 18px;
}

.image-container {
    width: 370px;
    height: 370px;
    border-radius: 18px;
    overflow: hidden;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts {
    margin: 40px;
    margin-right: 139px;
}

.techskills {
    margin: 40px;
}

.softskills {
    margin: 40px;
}

.projects,
.workexp,
.education {
    margin-top: 40px;
}

.inline1 {
    display: inline;
}

.inline2 {
    display: inline;
    color: rgb(233, 178, 75)
}

.shapes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.shapes-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Дополнительные стили для псевдоэлемента */
}

.circle,
.triangle {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
}

.circle:nth-child(1) {
    top: 20px;
    left: 20px;
}

.circle:nth-child(2) {
    top: 40px;
    left: 40px;
}

.triangle:nth-child(1) {
    top: 60px;
    left: 60px;
}

.triangle:nth-child(2) {
    top: 80px;
    left: 80px;
}